@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: beaufortforlol-regular;
  src: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-typekit/global/default/fonts/beaufort/beaufortforlol-regular.otf") format("opentype");
}
body {
  font-family: beafortforlol-regular;
}

.rune-container {
  width: 920px;
  height: 581px;
  background-size:cover;
}

.Domination {
  background-image: url("src/assets/domination/environment.jpg");
}
.Precision {
  background-image: url("src/assets/precision/environment.jpg");
}
.Resolve {
  background-image: url("src/assets/resolve/environment.jpg");
}
.Inspiration {
  background-image: url("src/assets/inspiration/environment.jpg");
}
.Sorcery {
  background-image: url("src/assets/sorcery/environment.jpg");
}